build
dist
peda
pydev
run.sh
src/emulator.egg-info/
src/emulator/*.pyc
.gdb_history

example/path_constrains/input
example/path_constrains/*.txt
example/sof_exp/*.txt
example/sof_exp/emulator
example/sof_exp/eip.in
example/sof_exp/bof.*
example/sof_exp/nohup.out

example/pwn3/bin.*
example/pwn3/*.txt
example/pwn3/nohup.out
example/pwn3/*.pyc
example/pwn3/debug
example/pwn3/emulator
example/pwn3/gdbserver
example/pwn3/bin_stripped
example/pwn3/input1
example/pwn3/code_coverage_crackme_xor.py
example/pwn3/input2
example/pwn3/test.py
example/primepwn

example/pwn8/pwn8.*
example/pwn8/nohup.out
example/pwn8/emulator
example/pwn8/*.txt

binary/track_record.txt
binary/symbol_fuzz
binary/pwn0*
binary/pwn10/
binary/*symbol*
tests/input1
tests/*.pyc
tests/*.txt
